<div class="empty-state">
    <i class="empty-state__icon">
        <svg><use xlink:href="#icon-empty-state" /></svg>
    </i>
    <h2 class="empty-state__title">
        {{ block.title }}
    </h2>
    <p class="empty-state__description">
        {{ block.description }}
    </p>
</div>
