<div class="month-sidebar">
    <h2 class="month-sidebar__title">
        <time class="month-sidebar__time" datetime="{{ block.raw_date }}">
            {{ block.month }}
            <span class="month-sidebar__year" data-color="{{ block.color }}">
                {{ block.year }}
            </span>
        </time>
    </h2>
</div>
