# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db
.tmp

# npm
/node_modules
/npm-debug.log
/package-lock.json

# composer
/vendor
/composer.phar
/composer.lock

# project
.env
/dist

# others
