// I use rem for typography and layout to not override font-style preference and adjust layout to rendered font-sizes
// https://uxdesign.cc/why-designers-should-move-from-px-to-rem-and-how-to-do-that-in-figma-c0ea23e07a15

$base-spacing: 0.5rem;

$grid-gap: (
    "base": spacing(2),
    "md": spacing(3),
    "lg": spacing(4),
);

$container-gutter: grid-gap("lg");
$container-inner-width: px-to-rem(1216px);
$container-breakpoint: $container-inner-width + ($container-gutter * 2);

$mq_breakpoints: (
    "xl": 1168,
    "lg": 1024,
    "md": 768,
    "sm": 425,
);

$z-indices: (
    "header": 10,
    "modal": 11,
);

$border-radius: 0.375rem;
