<div
    class="narrow-container"
    data-columns="{{ block.columns }}"
    data-colour="{{ block.colour }}"
    data-text-align="{{ block.text_align }}"
>
    <div class="narrow-container__wrapper">
        <div class="narrow-container__inner">
            <InnerBlocks template="{{ block.template }}" />
        </div>
    </div>
</div>
