.content-rich-text {
    --color: #{get-color("denim-blue")};
    --default-vertical-margin: #{spacing(4)};

    &[data-color="inherit"] {
        --color: var(--accent-color-dark, #{get-color("denim-blue", dark)});
    }

    // @each $type, $shades in $colors {
    //     &[data-color="#{$type}"],
    //     &--#{$type} {
    //         --color: #{get-color($type, dark)};

    //         @if ($type == "denim-blue" or $type == "teal") {
    //             --color: #{get-color("denim-blue")};
    //         }
    //     }
    // }

    color: #{get-color("denim-blue")};

    > *:not(h1, h2, h3, h4, h5, h6, p, ol, ul, a) {
        margin: var(--default-vertical-margin) 0;
    }

    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }

    h1:not([class]),
    h2:not([class]),
    h3:not([class]),
    h4:not([class]),
    h5:not([class]),
    h6:not([class]) {
        color: var(--color);
    }

    h2:not([class]) {
        margin-top: spacing(4);

        &:first-child {
            margin-top: 0;
        }
    }

    h3:not([class]) {
        margin-top: spacing(3);

        &:first-child {
            margin-top: 0;
        }
    }

    p:not([class]),
    ul:not([class]),
    ol:not([class]) {
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    figcaption:not([class]) {
        margin: spacing(.5) 0 0;
        font-size: $font-size-sm;
        font-weight: $font-weight-bold;
        text-align: center;
    }

    .logo-header {
        margin-bottom: spacing(3);
    }

    @include from("md") {
        --default-vertical-margin: #{spacing(6)};

        h2:not([class]) {
            margin-top: spacing(5);
        }
    }
}
