<div
    class="alert"
    data-align="{{ block.align }}"
    data-align-text="{{ block.align_text }}"
    data-block-margin="sm"
>
    <InnerBlocks
        template="{{ block.template }}"
        allowedBlocks="{{ block.allowed_blocks }}"
    />
</div>
