<div
    class="grid-container"
    data-block="grid-container"
    data-is-preview="{{ block.is_preview }}"
    data-block-spacing
>
    <InnerBlocks
        allowedBlocks="{{ block.allowed_inner_blocks }}"
        template="{{ block.template }}"
    />
</div>
