{% extends "base.twig" %}

{% block content %}
    <div class="container">
        <h2>Sorry, the page you were looking for doesn’t exist.</h2>
        <p>Head back to the <a href="/">homepage</a> to continue, or <a href="/search">search</a> to find content.</p>
    </div>
{% endblock %}
